body{
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.5rem;
    color: black;
}

.playerChoices button{
    font-size: 7.5rem;
    background-color: hsl(199, 90%, 49%);
    border-radius: 250px;
    min-width: 160px;
    transition: background-color 0.5s;
    margin: 0px 10px;
    cursor: pointer;
}

.playerChoices button:hover{
    background-color: hsl(199, 90%, 70%);

}

#playerDisplay , #computerDisplay {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#result{
    font-size: 4.5rem;

}

#scores{
    margin-top: 10px;
    font-size: 2rem;
}


.greenText, #playerScore{
    color: hsl(120, 97%, 49%);
}
.redText, #computerScore{
    color: hsl(0, 100%, 50%);
}
footer{
    display: flex;
    font-size: 20px;
    justify-content: center;
    width: 100%;
    background-color: gray;
    position: absolute;
    bottom: 5px;
}